html, body, header, footer, section, nav, h1, h2, p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  text-align: center;
}

body {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  color: #565656;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 50px;
  padding: 50px 0 50px;
  color: #565656;
}
  h1 img {
    margin-right: 10px;
    vertical-align: -5px;
  }

a {
  color: #f23b42;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  text-decoration: underline;
}

ul {
  text-align: left;
}

#social {
  margin: 40px 0 0;
}

#social a {
  color: #565656;
  text-decoration: none;
  margin: 0 5px;
}

#social a:hover {
  color: #949494;
  text-decoration: none;
}

footer {
  margin: 20px 0;
}
